<div class="buttons">
	<div class="btn{% if entryUrl %} yo-facebook{% else %} disabled{% endif %}" data-icon="refresh"{% if entryUrl %} data-yo-facebook-url="{{ entryUrl }}" title="Update Facebook's cache for this entry"{% endif %}>Update Facebook</div>
</div>
